# CUDA build artifacts
*.o
*.obj
*.ptx
*.cubin
*.linkinfo
*.d

# Ignore files with no extension in the project root (executables)
/*
!*/
!*.*

# Shared libraries and other binaries
*.out
.a
.so
.dylib

# VSCode and CLion
.vscode/
cmake-build-*/
.idea/

# OS files
.DS_Store
Thumbs.db

# Benchmark and log files
Benchmarks/*.csv
Benchmarks/*.txt
*.log

# Under Development Kernels
*cuda.cu
